* {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #373737;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.banner {
  background-color: #212121;
  min-width: 100%;
  max-width: 100%;
  width: 1920px;
  margin-bottom: 20px;
}

.title {
  text-align: center;
  color: white;
  flex-direction: column;
  align-items: center;
  font-size: 48px;
}

.noteCard {
  width: 400px;
  align-items: flex-start;
  flex-direction: row;
  margin-left: 30px;
}

.note {
  background-color: rgb(192, 167, 85);
  font-size: 24px;
  color: black;
  border: 2px solid black;
  width: 405px;
  height: 300px;
  margin: 30px;
  justify-content: flex-start;
  overflow-wrap: normal;
}

.toggleBtn {
  float: right;
  margin-right: 4px;
  margin-top: 4px;
  font-size: 20px;
  color: white;
  background-color: rgb(192, 167, 85);
  border: none;
} 

.notes {
  margin-left: 20px;
  font-size: 16px;
  justify-content: flex-start;
}

.toggleBtn:hover {
  color: gray;
}

.save {
  background: transparent;
  border: none;
  color: black;
  font-size: 18px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.save:hover {
  color: white;
}

.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.note textarea {
  white-space: pre-wrap;
  background: transparent;
  border: none;
  resize: none;
  font-size: 18px;
}

.delete {
  cursor: pointer;
  position: absolute;
  bottom: 560px;
}

.delete:hover {
  color: gray;
}